
@{
    ViewData["Title"] = "BlogListExell";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutArea.cshtml";
}

<h1>BlogListExell</h1>
<button class="btn btn-primary" onclick="DownloadExcelBlogList">Exel Listesini İndir</button>

<a href="/Admin/Blog/ExportStaticExelBlogList" class="btn btn-w-m btn-primary"> exelindir </a>
<script>
    function DownloadExcelBlogList() {
        window.open("/Admin/Blog/ExportStaticExelBlogList");
    }
</script>