
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutArea.cshtml";
}

<h1>BlogTitleListExcel</h1>

<a href="/Admin/Blog/ExportDynamicExelBlogList" class="btn btn-w-m btn-primary"> exelindir </a>
