@using NetCoreV2.Models
@model RoleViewModel
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutArea.cshtml";
}


<h1>Role Ekleme</h1>


<form  method="post">

    <label class="form-label">Rol adı</label>
    <input class="form-control" name="Name" type="text" placeholder="Rol adı giriniz." />
     
    <br />
    <br />
    <button type="submit" class="btn btn-outline-primary">Kaydet</button>
</form>