@using EntityLayer.Concrete
@model List<AppUser>
@{
    ViewData["Title"] = "UserRoleList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutArea.cshtml";
}

<h1>UserRoleList</h1>


<table class="table table-bordered">
    <tr>
        <th width="90%">Kullanıcı</th>
        <th width="5%">Rol</th>

    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td align="center"> <a  href="/Admin/AdminRole/AssignRole/@item.Id"><i class="fa-solid fa-people-group"></i></a></td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-outline-primary" href="/Admin/AdminRole/Index/">Rol Listesine Dön</a>
<a class="btn btn-outline-primary" href="/Admin/AdminRole/AddRole/">Yeni Rol Ekle</a>