@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}

<table class="table table-bordered">
    <tr>
        <th>Kategori Id</th>
        <th>Kategori Adı</th>
        <th>Kategori detaylar</th>
        <th>Kategori sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryDescription</td>
            <td>@item.CategoryStatus</td>
            <td><a href="#" class="btn btn-warning">Detaylar</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>

        </tr>

    }
</table>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />