@model UserSignInModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Core Blog</title>

    <link href="~/inspinia-gh-pages/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/animate.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/style.css" rel="stylesheet">

    <style>
        body {
            background: url('/inspinia-gh-pages/img/Login.jpg') no-repeat center center fixed;
            background-size: cover;
            height: 100vh; /* Tam ekran yüksekliği */
            margin: 0;
            display: flex;
            justify-content: center; /* Yatayda ortalar */
            align-items: center; /* Dikeyde ortalar */
        }

        .middle-box {
            background-color: rgba(0, 0, 0, 0.6); /* Siyah arka plan %60 saydam */
            padding: 20px;
            border-radius: 10px;
            color: black; /* Yazı rengini siyah yap */
            width: 100%; /* Genişliği tam yap */
            max-width: 400px; /* Max genişlik ver */
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); /* Hafif gölge efekti */
        }

            .middle-box p, .middle-box input, .middle-box button {
                color: black;
            }

            .middle-box h2, .middle-box h3 {
                color: white;
            }

        input::placeholder {
            color: lightgray; /* Placeholder rengini değiştirir */
        }
    </style>
</head>

<body>
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h2>Core Blog</h2>
            </div>
            <h3>Giriş Yapın</h3>
            <form method="post">
                <div class="form-group">

                    <input type="text" class="form-control" asp-for="@Model.username" placeholder="Kullanıcı Adı">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" asp-for="@Model.password" placeholder="Şifre" required="">
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b">Giriş</button>
                <p class="text-center" style="color:white"><small>Henüz hesabın yok mu?</small></p> 

                <a class="btn btn-sm btn-info btn-block " href="/RegisterUser/Index/">Kayıt ol</a>
                <a class="btn btn-sm btn-block  fa fa-home btn-white " href="/Blog/Index/"> Ana Sayfa</a>

            </form>
        </div>
    </div>

    <script src="~/inspinia-gh-pages/js/jquery-3.1.1.min.js"></script>
    <script src="~/inspinia-gh-pages/js/popper.min.js"></script>
    <script src="~/inspinia-gh-pages/js/bootstrap.js"></script>
    <script src="~/inspinia-gh-pages/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>

</html>
